<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<real>30</real>
		<key>Key</key>
		<string>interval</string>
		<key>MaximumValue</key>
		<real>60</real>
		<key>MinimumValue</key>
		<real>15</real>
		<key>StepValue</key>
		<real>15</real>
		<key>Title</key>
		<string>Update Interval</string>
		<key>Titles</key>
		<array>
			<string>5 Minutes</string>
			<string>15 Minutes</string>
			<string>30 Minutes</string>
			<string>1 Hour</string>
			<string>6 Hours</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>5</real>
			<real>15</real>
			<real>30</real>
			<real>60</real>
			<real>360</real>
		</array>
	</dict>
</array>
</plist>
