* { margin:0; padding:0; }

#content{
	position: absolute;
	top: 0px;
	left: 0px;
	width:100%;
	height:30px;
}
.lItem{
	position: relative;
	padding:8px;
	float: left;
}
.rItem{
	position: relative;
	padding:7px;
	float: right;
}
#icon{
	cursor:pointer;
}
#soldOut{
	font-size: 12px;
	display:none;
}

#dropdown{
    -webkit-appearance: none;
    outline: none;
    width:90px;
    border-radius: 8px;
    border: none;
    background: none;
    background-image: url('../img/triangle.png');
    background-repeat: no-repeat;
    background-position: 5px right;
    padding: 1px 10px 1px 10px;
    cursor: pointer;
}
#dropdown:hover, #dropdown:active{
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
    background: rgba(0, 0, 0, 0.21) url('../img/triangle-white.png') no-repeat;
    background-position: 5px right;
}
a {
	color: #282828;
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
	text-decoration: none;
	padding: 1px 7px 2px;
	display: inline-block;
	border-radius: 8px;
	cursor: default;
	border: none;
	background: none;
}

a:hover{
	color: #fff;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
	background: rgba(0, 0, 0, 0.21);
}

a:active, a.toggled {
	color: #fff;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(255, 255, 255, 0.8);
}

a.toggled {
	background: rgba(0, 0, 0, 0.35);
}

a:active {
	background: rgba(0, 0, 0, 0.49);
}
.divider {
  border: 1px gray double;
  border-width: 0px 1px 0px 0px;
  width: 2px;
  top:5px;
  height: 5px;
  margin-left: -15px;
  margin-right: 2px;
}